<%include header%>


<div class="container">
	<div class="row">
		<div class="col-12 mb-3">
			<form action="/new" method="POST">
				<div class="row mt-3">
					<strong> Image</strong>
					 	<textarea name="image" placeholder="Image link" 
					 class="editDiv" rows="2" cols="0" 
					 ></textarea>
				</div>
				<div class="row mt-3">
					<strong> Artist</strong>
				<textarea name="artist" placeholder="Artist Name" 
				class="editDiv" rows="2" 
				></textarea>
				</div>
				<div class="row mt-3">
					<strong> Title</strong>
				<textarea name="title"
				 placeholder="Album Title" 
				class="editDiv" rows="1" cols="0" 
				></textarea> 
				</div>
				<div class="row mt-3 ">
					<strong> Description</strong>
				<textarea name="content"
				placeholder="Write something bitch"  
				class="editDiv" rows="10" 
					 cols="30"></textarea>
				</div>
				<button class="btn btn btn-dark mt-5" style="width: 20%; 
						margin-left: -18px !important;">Post</button>
						<a href="/show">
					<button class="btn btn btn-outline-dark mt-5" style="width: 20%; 
						margin-left: 10px;">Cancel</button></a>
			</form>
		</div>
	</div>
</div>




<hr style="margin-bottom: 50px;">



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">