<%include header%>

<script> 
    function checkPassword(form) { 
        password1 = form.password.value; 
        password2 = form.confPass.value; 

 		 if (password1 != password2) { 
            alert ("\nPassword did not match: Please try again...") 
            return false; 
        } 
    } 
</script> 


<h1 style="font-size: 46px;
	font-weight: lighter; padding-left: 30px; margin-bottom: 10px;">Register</h1>


		<p class="row justify-content-center mb-5" style="margin-left:-170px;" 
				>*All the fields with asterisk are required</p>

<form method="post" action="register">

	<div class="container">
		<div class="row d-flex justify-content-center">
	    		<input type="text" placeholder="*First name" class="mr-2" style="width: 200px;" 
	    		class="pl-1">
		    <div style="margin-left:20px;">
		    	<input type="text" placeholder="*Last name" style="width: 204px;"
		    	class="pl-1">
			</div>
		</div>

		<div class="row mt-3 justify-content-center">
			<input type="text" name="username" placeholder="*Username" style="min-width: 431px;" class="pl-1" required>
		</div>
		<div class="row mt-3 justify-content-center">
			<input type="password" name="password" placeholder="*Password" style="min-width: 431px;"
			class="pl-1" required>
		</div>
		<div class="row mt-3 justify-content-center">
			<input type="password" name="confPass" placeholder="*Confirm Password" 
			style="min-width: 431px;" class="pl-1" required>
		</div>
		<div class="row mt-3 justify-content-center">
			<input type="text" name="email" placeholder="*email" style="min-width: 431px;"
				class="pl-1" required>
		</div>

		<div class="row justify-content-center mt-2">
	      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required 
	      		style="margin-left: -205px;">

	        <a href="/" style="margin-left: -170px;"> Agree to terms and conditions</a>
	      </label>
	    </div>
		<div class="row mt-4 justify-content-start" style="margin-left: 340px;">
			<button class="btn btn-dark">Register</button>
		</div>
	</div>

</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">