<%include header%>

<h1>Page not found! Check your spelling and try again.</h1>


<div class="row">
		<img src="https://media.giphy.com/media/3o72EX5QZ9N9d51dqo/giphy.gif" width="50%">
		</div>
		<a href="/" ><button 
			class="btn btn-outline-dark mt-3">Go Back</button></a>
