<%include header%>

<h1>This page is under construction and wiil be available soon. </h1>


<div class="row">
		<img src="https://cdn3.iconfinder.com/data/icons/smileys-people-smiley-essential/48/v-44-512.png">
		</div>
		<a href="/" ><button 
			class="btn btn-outline-dark mt-3">Go Back</button></a>

<%include footer%>
